<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Athena
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Athena
            </ion-title>
        </ion-toolbar>
    </ion-header>


    <app-explore-container name="Athena"></app-explore-container>
</ion-content>